.reef{
	display: flex;  
	margin-top: 25px;
	padding-bottom: 25px;
	border-bottom: 1px solid #5a4535;

}

.reef:last-child{
	border-bottom:none;
}

.pic img{
	float: right;
	width: 400px;
	height: 290px;
}



.intro{
	/* flex: 1; */
	float: left;
	
}